@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 0.3125em 0;
}

p {
  margin: 0.3125em 0;
}
img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-menu {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #333;
}

/* ==========
  Typography
=============*/

.showcase-title {
  font-size: 2.5rem;
}

/* ========
  Layout
==========*/

/* navigation */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.nav-menu {
  display: flex;
}

.nav-link {
  color: #fff;
  padding: 0.3125em;
  margin: 0 5px;
}

.nav-item:hover,
.nav-item:focus {
  border-bottom: 2px #fff solid;
}

.navbar .container-flex {
  justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  bottom: -70px;
  background-color: #fff;
  height: 100px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.showcase-info {
  margin: 1.25em 0;
}

.showcase .container-grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.form-control input[type="text"],
.form-control input[type="email"] {
  border: 0;
  border-bottom: 1px solid #333;
  width: 100%;
  padding: 0.5em 0;
  margin: 0.5em 0;
  font-size: 1rem;
}

/* Stats */

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stat-number {
  font-size: 2.19rem;
}

.stat-name {
  font-weight: bold;
  font-size: 1.25rem;
}

/* Cli */

.cli .container-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .container-grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */

.cloud .container-grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .container-flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 200ms ease-in-out;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-20px);
}

/* Features */

.features-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card > i {
  margin: 0 10px;
}

.features-main .container-grid {
  padding: 1.875rem;
}

.features-main .container-grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .container-grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */

.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .container-grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.docs-main nav li:hover {
  font-weight: bold;
}
/* Footer */
.footer {
  margin: 0;
}
.footer-nav-menu {
  list-style: none;
}

.footer-nav-link {
  text-decoration: none;
  color: #fff;
}

.social a {
  margin: 0 10px;
}

/* Tables and under */

@media (max-width: 768px) {
  .grid,
  .showcase .container-grid,
  .cli .container-grid,
  .stats .container-grid,
  .cloud .container-grid,
  .features-main .container-grid,
  .docs-main .container-grid,
  .features-head .container-grid,
  .docs-head .container-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .features-sub-head .container-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .cli .container-grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .container-grid > *:first-child,
  .features-main .container-grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .container-flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
